@font-face {
    font-family: "mainfont";
    src: url("../fonts/TradeGothicLTStd-Cn18.otf") format("opentype");   
}
@font-face {
    font-family: "boldfont";
    src: url("../fonts/TradeGothicLTStd-BdCn20.otf") format("opentype");   
}
@font-face {
    font-family: "slabs";
    src: url("../fonts/PatuaOne-Regular.ttf") format("opentype");   
}





* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
html, body {
    height: 100%;
    font-size: 22px;
}
html {
    background: url(../img/background.png) center center no-repeat;
    background-size: cover;
    overflow: hidden;
}
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family: 'mainfont';
    /*'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;*/
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}
@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
.button_table {
    width: 100%;
}
.button_table td {
    text-align: center;
}


/********************************************************
    HOME
********************************************************/

#logo {
    width: 300px;
    height: 200px;
    background: url(../img/logo.png) center center no-repeat;
    background-size: contain;
    margin: 100px auto 0px auto;
}
.home_button {
    width: 80px;
    height: 80px;
    background-size: contain;
    margin: auto;
}
#btn_baby {
    background-image: url(../img/icon_baby.png);
}
#btn_pet {
    background-image: url(../img/icon_pet.png);
}
#btn_house {
    background-image: url(../img/icon_house.png);
}
#page_home hr {
    border-color: #75aed1;
    margin: 10px 20px 10px 20px;
}
#page_home {
    color: #6fc4c1;
}




/********************************************************
    MAP
********************************************************/
.header {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    min-height: 40px;
    background: url(../img/header.png) center center no-repeat;
    background-size: cover;
    color: #fff;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
    z-index: 1005;
}
.header_content {
    padding: 40px 10px 0px 10px;
}
#sitter_map_container {
    background: #283748;
    position: absolute;
    top: 80px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
#map {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
#map_profile {
    position: absolute;
    z-index: 1000;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background: #fff;
    display: none;
}
#header_action {
    width: 32px;
    height: 32px;
    float: right;
    position: relative;
    top: -4px;
}
.icon_arrow_down {
    background: url(../img/icon_arrow_down.png) center center no-repeat;
    background-size: contain;
}
.icon_arrow_up {
    background: url(../img/icon_arrow_up.png) center center no-repeat;
    background-size: contain;
}
.header_menu {
    margin-top: 10px;
    background: #fff;
    max-height: 0;
    overflow: hidden;
    color: #333;
    font-size: 14px;

    /* Set our transitions up. */
    -webkit-transition: max-height 0.8s;
    -moz-transition: max-height 0.8s;
    transition: max-height 0.8s;
}
.header_menu.open {
    max-height: 200px;
}
.filter_button {
    width: 50px;
    height: 50px;
    background-size: contain;
    margin: auto;
}
.btn_baby_blue {
    background-image: url(../img/icon_baby_blue.png);
}
.btn_pet_blue {
    background-image: url(../img/icon_pet_blue.png);
}
.btn_house_blue {
    background-image: url(../img/icon_house_blue.png);
}
.header_menu .padding {
    padding: 20px;
}
.header_menu hr {
    margin: 10px 20px 10px 20px;
}
.profile-photo-round {
    width: 120px;
    height: 120px;
    border: 4px solid #ffffff;
    border-radius: 60px;
    background: url(../img/profile.jpg) center center no-repeat;
    background-size: cover;
}
.profile {
    position: relative;
}
.profile-photo-backdrop {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    opacity: .4;
    background: url(../img/profile.jpg) center center no-repeat;
    background-size: cover;
}




